body{
	margin: 0;
}

#girl{
    float: left;
}
#trollOlav{
    float: right;
}

#snowMan{
    float: left;
}

#sealBoy{
    float:right;
    margin-top: 50px;
}

#sealGirl{
    float:right;
    margin-top: 50px;


}

.characterMenuTop{
    position: absolute !important;
    top:10px;
    display: block;
    width: 100%;
    padding: 0px;
}

.characterMenuBottom{
    position: absolute !important;
    top: 375px;
    display: block;
    width: 100%;
    padding: 0px;
}

.puzzleBoard {
    width: 80%;
    margin-left:auto;margin-right:auto;
    display: table;
}


.puzzleContainer{
	display:table-cell;
}

.troll {
	position: relative;
    width: 200px;
    height: auto;
    display: inline;
}


#playAgain {
/*
    display: inline-block;
    margin: auto;
*/
    border: none;
    background-color: #8fefef;
    color: white;
    padding: 20px;
    font-size: 23px;
    border-radius: 8px;
}

.glyphicon-volume-off {
    padding: 20px;
    border: none;
    color: white;
    background-color: #6A5ACD;
    border-radius: 8px;
    font-size: 30px;
}

.buttonsDiv {
    margin: auto;
}


.innerButtonDiv {
    margin: auto;
    
}


